.red {
    background: #900;
  }
  
  .green {
    background: #090;
  }
  
  .blue {
    background: #009;
  }
  
  .wrapper {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      'red blue'
      'green blue';
  }
  
  .red {
    grid-area: red;
    background-color: #900;
  }
  
  .green {
    grid-area: green;
    background-color: green;
  }
  
  .blue {
    grid-area: blue;
    background-color: #009;
  }